SECRET_KEY = 'XXX'

EMAIL_HOST = 'smtp.gmail.com'
EMAIL_HOST_USER = 'patpetdevelop@gmail.com'
EMAIL_HOST_PASSWORD = 'XXX'
EMAIL_PORT = 587

SOCIAL_AUTH_FACEBOOK_KEY = 'XXX'
SOCIAL_AUTH_FACEBOOK_SECRET = 'XXX'

SOCIAL_AUTH_TWITTER_KEY = 'XXX'
SOCIAL_AUTH_TWITTER_SECRET = 'XXX'

SOCIAL_AUTH_GOOGLE_OAUTH2_KEY = 'XXX'
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET = 'XXX'